<!DOCTYPE html>
<html lang="en">
  <head>
    <title>v-bind example</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      body {
        text-align: center;
      }
      button {
        margin-top: 20px;
        padding: 5px;
        color: #fff;
        border: none;
        border-radius: 5px;
      }

      .activeClass {
        background-color: rgb(255, 81, 0);
        border: 1px solid #000;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h3>Pizza to be added to the list</h3>
      <input
        type="text"
        v-model="pizza"
        :placeholder="placeholder"
        @keyup.enter="addPizza"
      />
      <br />
      <button :class="[pizza ? 'activeClass' : '']" @click="addPizza">
        Add
      </button>
      <br />
      <h3 v-if="pizzas.length">List of pizzas</h3>
      <p v-for="(pizza, index) in pizzas" :key="index">{{ pizza }}</p>
    </div>
    <script>
      const App = {
        data() {
          return {
            pizza: "",
            pizzas: [],
            placeholder: "Enter a pizza",
          };
        },
        methods: {
          addPizza() {
            this.pizzas.push(`🍕 ${this.pizza}`);
            this.pizza = "";
          },
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
